/* This css file is for alerts */

.alert-box{
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    font-family: var(--st-body-text);
    border-radius: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.alert-primary {
    background-color: var(--st-primary-disabled);
    color: var(--st-primary-color);
}

.alert-secondary {
    background-color: var(--st-secondary-disabled);
    color: var(--st-secondary-color);
}

.alert-danger {
    background-color: var(--st-danger-bg);
    color: var(--st-darkred);
}

.alert-warning {
    background-color: var(--st-warning-bg);
    color: var(--st-orange);
}

.alert-success {
    background-color: var(--st-success-bg);
    color: var(--st-green);
}

.alert-icon-right {
    display: flex;
    align-items: center;
    position: relative;
}

.alert-close {
    color: var(--st-black);
    font-size: 1.5rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

.alert-close:hover {
    color: var(--st-primary-hover);
}