/* This file is for buttons */

.btn {
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--st-white);
}

.btn-sm {
    height: 2rem;
    font-size: 0.7rem;
}

.btn-md {
    height: 2.5rem;
    font-size: 1rem;
}

.btn-lg {
    height: 3rem;
    font-size: 1.3rem;
}

.floating-sm {
    width: 2rem;
    font-weight: 800;
    font-size: 1.2rem;
}

.floating-md {
    width: 2.5rem;
    font-weight: 900;
    font-size: 1.5rem;
}

.floating-lg {
    width: 3rem;
    font-weight: 1000;
    font-size: 1.8rem;
}

/* Floating and link button common properties */

.btn-link {
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: var(--st-red);
}

.btn-floating {
    border-radius: 50%;
    box-shadow: 2px 5px 5px  rgba(0,0,0,0.2);
}

/* Contained button */

.btn-primary-contained {
    background-color: var(--st-primary-color);
    color: var(--st-white);
}

.btn-secondary-contained {
    background-color: var(--st-secondary-color);
    color: var(--st-white);
}

.btn-fire-contained {
    background-color: var(--st-red);
    color: var(--st-white);
}

.btn-success-contained {
    background-color: var(--st-green);
    color: var(--st-white);
}

/* Outlined button */

.btn-primary-outlined {
    color: var(--st-primary-color);
    border: 2px solid var(--st-primary-color);
}

.btn-secondary-outlined {
    color: var(--st-secondary-color);
    border: 2px solid var(--st-secondary-color);
}

.btn-fire-outlined {
    color: var(--st-red);
    border: 2px solid var(--st-red);
}

.btn-success-outlined {
    color: var(--st-green);
    border: 2px solid var(--st-green);
}


/* Link button */

.btn-primary-link {
    color: var(--st-primary-color);
}

.btn-secondary-link {
    color: var(--st-secondary-color);
}

.btn-fire-link {
    color: var(--st-red);
}

.btn-success-link {
    color: var(--st-green);
}

/* Floating button */

.btn-primary-floating {
    background-color: var(--st-primary-color);
    color: var(--st-white);
}

.btn-secondary-floating {
    background-color: var(--st-secondary-color);
    color: var(--st-white);
}

.btn-fire-floating {
    background-color: var(--st-red);
    color: var(--st-white);
}

.btn-success-floating {
    background-color: var(--st-green);
    color: var(--st-white);
}

/* Icon button properties */

.btn-icon {
    border-radius: 50%;
    width: 3rem;
}

/* Icon button colors */

.btn-fire {
    color: var(--st-red);
}

.btn-primary {
    color: var(--st-primary-color);
}

.btn-secondary {
    color: var(--st-secondary-color);
}

.btn-success {
    color: var(--st-green);
}

/* Img container */

.img-btn-wrapper {
    max-width: 12rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-items: center;   
}

.btn-over-image {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 9rem;
    height: 5rem;
    z-index: 9999;
    margin: 0 auto;
    border: 2px solid var(--st-white);
    background-color: transparent;
    text-shadow: 5px 5px 10px #000000;
}

.btn-over-image, .image {
    grid-area: 1/1/1/1;
}

/* Image hover */

.btn-over-image:hover {
    color: var(--st-lightgrey);
    border: 2px solid var(--st-lightgrey);
}

/* Icon hover */

.btn-icon:hover {
    background-color: var(--st-lightgrey);
}

.btn-fire:hover {
    background-color: var(--st-lightred);
}

.btn-primary:hover {
    background-color: var(--st-primary-hover);
}

.btn-secondary:hover {
    background-color: var(--st-secondary-hover);
}

.btn-success:hover {
    background-color: var(--st-lightgreen);
}

/* Contained and floating hover */

.btn-primary-contained:hover, .btn-primary-floating:hover {
    background-color: var(--st-primary-hover);
}

.btn-secondary-contained:hover, .btn-secondary-floating:hover {
    background-color: var(--st-secondary-hover);
}

.btn-fire-contained:hover, .btn-fire-floating:hover {
    background-color: var(--st-lightred);
}

.btn-success-contained:hover, .btn-success-floating:hover {
    background-color: var(--st-lightgreen);
}

/* Outlined hover */

.btn-primary-outlined:hover {
    background-color: var(--st-white);
    color: var(--st-primary-hover);
    border: 2px solid var(--st-primary-hover);
}

.btn-secondary-outlined:hover {
    background-color: var(--st-white);
    color: var(--st-secondary-hover);
    border: 2px solid var(--st-secondary-hover);
}

.btn-fire-outlined:hover {
    background-color: var(--st-white);
    color: var(--st-lightred);
    border: 2px solid var(--st-lightred);
}

.btn-success-outlined:hover {
    background-color: var(--st-white);
    color: var(--st-lightgreen);
    border: 2px solid var(--st-lightgreen);
}

/* Link hover */

.btn-primary-link:hover {
    background-color: var(--st-white);
    color: var(--st-primary-hover);
}

.btn-secondary-link:hover {
    background-color: var(--st-white);
    color: var(--st-secondary-hover);
}

.btn-fire-link:hover {
    background-color: var(--st-white);
    color: var(--st-lightred);
}

.btn-success-link:hover {
    background-color: var(--st-white);
    color: var(--st-lightgreen);
}