.card-wrapper {
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: auto auto auto auto auto auto;
    box-shadow: var(--st-box-shadow);
    border-radius: 0.5rem;
    max-width: 20rem;
    background-color: var(--st-white);
}

.card-wrapper-hor {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: var(--st-white);
    align-items: center;
}

.img-container {
    position: relative;
}

.card-image {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-image-hor {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 0.5rem;
}

.card-top-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.card-overlay-image, .card-overlay-text {
    grid-area: 1/1/2/2;
    z-index: 2;
    align-items: flex-end;
}

.card-overlay-text {
    padding-bottom: 0.5rem;
    color: var(--st-white);
}

.card-title, 
.card-body, 
.ratings, 
.price, 
.card-btn-container {
    padding-top: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.card-title, 
.card-btn-container, 
.card-icon-container, 
.card-body-hor, 
.btn-container-hor, 
.card-price,
.btn-counter {
    display: flex;
}

.card-title {
    justify-content: space-between;
}

.checked {
    color: var(--st-secondary-color);
}

.card-btn-container {
    padding-bottom: 0.5rem;
    justify-content: space-around;
}

.card-icon-container {
    margin-left: auto;
    gap: 1rem;
}

.card-body-hor {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    
}

.card-price {
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.btn-container-hor {
    flex-direction: column;
    gap: 0.5rem;
}

.item-counter {
    width: 3rem;   
    text-align: center;
    border: 2px solid var(--st-darkgrey);
}

.item-counter:hover {
    border: 2px solid var(--st-darkgrey);
    margin: 0px;
}

.item-counter:focus {
    border: 2px solid var(--st-darkgrey);
    margin: 0px;
}

@media only screen and (max-width: 800px) {
    .card-wrapper-hor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 0.5rem;
        background-color: var(--st-white);
        align-items: center;
    }

    .card-image-hor {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
        padding: 0.5rem;
    }
}
