.card-wrapper {
    display: grid;
    grid-template-columns: 20rem;
    grid-template-rows: auto auto auto auto auto auto;
    box-shadow: var(--st-box-shadow);
    border-radius: 0.5rem;
    max-width: 20rem;
}

.card-hor-wrapper {
    display: grid;
    grid-template-columns: 36rem;
    grid-template-rows: auto auto;
    box-shadow: var(--st-box-shadow);
    border-radius: 0.5rem;
    max-width: 36rem;
}

.card-hor-top {
    display: flex;
    display: grid;
    grid-template-columns: 15rem 21rem;
    grid-template-rows: auto;
}

.img-container {
    position: relative;
}

.hor-img-container {
    display: flex;
    align-items: center;
    border: 2px solid var(--st-background-grey);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.card-image {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.hor-image {
    border-top-right-radius: 0;
}

.card-top-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.card-overlay-image, .card-overlay-text {
    grid-area: 1/1/2/2;
    z-index: 2;
    align-items: flex-end;
}

.card-overlay-text {
    padding-bottom: 0.5rem;
    color: var(--st-white);
}

.card-title, .card-body, .ratings, .price, .card-btn-container, .card-hor-container {
    padding-top: 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.card-title, .card-hor-title, .card-btn-container, .card-icon-container, .card-hor-container {
    display: flex;
}

.card-title {
    justify-content: space-between;
}

.card-hor-title {
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.checked {
    color: var(--st-secondary-color);
}

.card-btn-container {
    padding-bottom: 0.5rem;
    justify-content: space-around;
}

.card-hor-container {
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.card-hor-btn-container {
    display: flex;
    margin-right: auto;
}

.card-icon-container {
    margin-left: auto;
}

.card-hor-btn-container, .card-icon-container {
    gap: 1rem
}



