/* This is grid file */

.grid {
    display: grid;
    grid-gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.grid2 {
    grid-template-columns: repeat(2, 1fr);  
}

.grid3 {
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 600px) {
    .grid2 {
        grid-template-columns: repeat(1, 1fr);  
    }
    
    .grid3 {
        grid-template-columns: repeat(1, 1fr);
    }
}


