@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bai+Jamjuree&family=Epilogue&display=swap');

.p1, .p2,
.p3, .p4, 
.p5 {
    font-family: var(--st-comp-lib-text);
}

.p1, .p2, 
.p3, .p4, 
.p5 {
    font-weight: 400;
}

.p1 {
    line-height: 4rem;
    font-size: 3rem;
}

.p2 {
    line-height: 2.5rem;
    font-size: 2rem;
}

.p3 {
    line-height: 2rem;
    font-size: 1.5rem;
}

.p4 {
    line-height: 1.5rem;
    font-size: 1rem;
}

.p5 {
    line-height: 1rem;
    font-size: 0.5rem;
}

.font-weight-black {
    font-weight: 900;
}

.font-weight-bold {
    font-weight: 700;
}

.font-weight-semibold {
    font-weight: 600;
}

.font-weight-regular {
    font-weight: 400;
}

.font-weight-light {
    font-weight: 300;
}