/* This is textbox file */

input {
    outline: transparent;
    border: none;
    display:block;
  }

label {
  display: block;
  font-size: 12px;
  color: var(--st-bordergrey);
} 
  
.basic-textfield-outlined {
    outline: 2px solid transparent;
    border: 1px solid var(--st-bordergrey);
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: var(--st-white);
}

.error-outlined {
    border: 1px solid var(--st-red);
}

.basic-textfield-filled {
    border: none;
    padding: 0.5rem;
    border-bottom: 1px solid var(--st-bordergrey);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: var(--st-lightgrey);
}

.error-filled {
    border-bottom: 1px solid var(--st-red);
}

.basic-textfield-standard {
    border: none;
    padding: 0.5rem;
    border-bottom: 1px solid var(--st-bordergrey);
    background-color: transparent;
}

.error-standard {
    border-bottom: 1px solid var(--st-red);
}

.help-block {
    position: relative;
    display: inline-block;
}

.helper-text-block {
    position: absolute;
    color: var(--st-bordergrey);
    display: block;
}

.error-text {
    color: var(--st-red);
}

.textfield-label {
    display: inline-block;
    padding: 3px;
}

.filled-color {
    background-color: inherit;
}

.label-error {
    padding-top: 6px;
}

.basic-textfield-outlined:hover {
    outline: transparent;
    border: 1px solid var(--st-darkgrey);
}

.error-outlined:hover {
    border: 1px solid var(--st-darkred);
}

.basic-textfield-filled:hover {
    outline: transparent;
    border-bottom: 1px solid var(--st-darkgrey);
    background-color: var(--st-middlegrey);
}

.error-filled:hover {
    border-bottom: 1px solid var(--st-darkred);
}

.basic-textfield-standard:hover {
    outline: transparent;
    border-bottom: 1px solid var(--st-darkgrey);
}

.error-standard:hover {
    border-bottom: 1px solid var(--st-darkred);
}

.basic-textfield-outlined:focus, div.basic-textfield-outlined:focus-within {
    box-sizing: border-box;
    outline: transparent;
    border: 2px solid var(--st-darkgrey);
    margin: -1px;
}

.error-outlined:focus, div.error-outlined:focus-within {
    border: 2px solid var(--st-darkred);
}

.basic-textfield-filled:focus, div.basic-textfield-filled:focus-within {
    box-sizing: border-box;
    outline: transparent;
    background-color: var(--st-middlegrey);
    border-bottom: 2px solid var(--st-darkgrey);
    margin-bottom: -1px;
}

.error-filled:focus, div.error-filled:focus-within {
    border-bottom: 2px solid var(--st-darkred);
}

.basic-textfield-standard:focus, div.basic-textfield-standard:focus-within {
    box-sizing: border-box;
    outline: transparent;
    border-bottom: 2px solid var(--st-darkgrey);
    margin-bottom: -1px;
}

.error-standard:focus, div.error-standard:focus-within {
    border-bottom: 2px solid var(--st-darkred);
}
