@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Rubik&display=swap');
/* font-family: 'Bree Serif', serif;
font-family: cursive;
font-family: 'Rubik', sans-serif; */

h1 {
    font-family: var(--st-header-text);
    font-weight: 750;
    font-size: 2.5rem;
}

h2 {
    font-family: var(--st-subheader-text);
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    font-family: var(--st-subheader-text);
    font-weight: 650;
    font-size: 1.5rem;
}

h4 {
    font-family: var(--st-subheader-text);
    font-weight: 600;
    font-size: 1.2rem;
}

p {
    font-family: var(--st-body-text);
    font-weight: 400;
    font-size: 1.2rem;
}

