:root {
    --st-primary-color: #014465;
    --st-primary-hover: #026CA2;
    --st-primary-disabled: #AEE4FF;
    --st-secondary-color: #FFAD0A;
    --st-secondary-hover: #FFC247;
    --st-secondary-disabled: #FFDD99;
    --st-background-grey: #E1DFE2;
    --st-span-text: #FF0A3B;
    --st-header-text: 'Bree Serif', sans-serif;
    --st-subheader-text: cursive;
    --st-body-text: 'Rubik', serif;
}