@import '/Stylesheet/css/general.css';
@import '/Stylesheet/css/reset.css';
@import '/Stylesheet/css/spacing.css';
@import '/Stylesheet/css/typography.css';
@import '/Stylesheet/css/utilities.css';
@import '/Stylesheet/css/variables.css';

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import '/Stylesheet/Components/image.css';
@import '/Stylesheet/Components/alert.css';
@import '/Stylesheet/Components/avatar.css';
@import '/Stylesheet/Components/badge.css';
@import '/Stylesheet/Components/button.css';
@import '/Stylesheet/Components/textbox.css';
@import '/Stylesheet/Components/card.css';
@import '/Stylesheet/Components/grid.css';
@import '/Stylesheet/Components/ratings.css';
@import '/Stylesheet/Components/slider.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/a11y-dark.min.css';

/* Nav */

.navbar {   
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 2rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;  
    box-shadow: 2px 2px 3px hsla(200, 100%, 15%, 0.1); 
    background-color: hsla(0, 0%, 98%, 0.3);
    backdrop-filter: blur(8px);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.logo {
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
}

.nav-header {
    cursor: pointer;
    font-size: 2.5rem;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-left {
    margin-right: auto;
}

.nav-left-buttons {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-right {
    margin-left: auto;
}

.nav-right-icons, .doc-icon {
    font-size: 1.9rem;
    cursor: pointer;
}

.nav-left-buttons:hover, .nav-right-icons:hover, .sidenav-close-btn:hover, .side-list:hover {
    color: var(--st-primary-hover);
}

.main {
    flex-direction: column;
    padding: 3rem;
    padding-top: 10rem;
    text-align: center;
}

.body-text {
    padding-top: 1rem;
    font-size: 1.3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.main-button {
    margin-top: 1rem;
}

.side-nav { 
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: var(--st-white);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 3px hsla(200, 100%, 15%, 0.1); 
    background-color: var(--st-white);
    transition: 0.5s;
}

.side-nav-div {
    display: flex;
    flex-direction: column;
}

.side-nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: hsla(0, 0%, 98%, 0.3);
    backdrop-filter: blur(8px);
}

.sidenav-close-btn {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}

.side-header, .side-list {
    padding-top: 1rem;
    padding-left: 2rem;
}

.component-body {
    margin-left: 0 auto;
    padding: 0 1.5rem;
    padding-top: 4.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.comp-display-box-ver, .comp-display-box-hor {
    background-color: var(--st-background-grey);
    width: 100%;
    display: flex;
    padding: 2rem;
    border: 1.5px solid var(--st-bordergrey);
    border-radius: 1rem;
    flex-wrap: wrap;
}

.comp-display-box-ver {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.comp-display-box-hor {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.comp-code-box {
    width: 100%;
}

.display-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inside-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}


/* .footer {
    border-top: 1px solid var(--st-middlegrey);
    display: flex;
    justify-content: center;
    padding: 0.8rem;    
} */

@media only screen and (min-width: 600px) {
    .component-body {
        margin-left: 15rem;
        padding: 0 1.5rem;
        padding-top: 4.5rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }   
  }



