@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bai+Jamjuree&family=Epilogue&display=swap');
/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Epilogue', sans-serif;
*/

h1, h2,
h3, h4,
h5, p {
    font-family: var(--st-comp-lib-text);
}

h1 {
    font-weight: 750;
    line-height: 4rem;
    font-size: 3rem;
}

h2 {
    font-weight: 700;
    line-height: 2.5rem;
    font-size: 2rem;
}

h3 {
    font-weight: 650;
    line-height: 2rem;
    font-size: 1.5rem;
}

h4 {
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1rem;
}

h5 {
    font-weight: 550;
    line-height: 1rem;
    font-size: 0.5rem;
}

p {
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
}